<h1><%= event.title %></h1>
<h3>Date & Time: <%= event.start_time %></h3>
<h3>Venue: <%= event.venue_name %></h3>
<h3>Price: <%= event.price %></h3>
<h3><a href="<%= event.links.link[0].url %>">Tickets</a></h3>
