
<h1><%= event.title %></h1>
<h3>Date & Time: <%= event.start_time %></h3>
<h3>Venue: <%= event.venue_name %></h3>
<h3>Location: <%= event.city %>, <%= event.region %>, <%= event.country_abbr %></h3>
<h3>Performers:
	<% if(event.performers){ %>
		<% if(event.performers.performer.length > 1){ %>
			<% event.performers.performer.forEach(function(n){ %>
			 <li><%= n.name %></li>
		<% })} else { %>
			<li><%= event.performers.performer.name %></li>
	<% }} else{ %> No Listed Performers
	<% } %>
</h3>
<h3>Price: <%= event.price %></h3>
<% if(event.links) { %>
	<h3><a href="<%= event.links.link[0].url %>">Tickets</a></h3>
<% } else { %>
	<h3>No Online Ticket Source</h3>
<% } %>
<footer>
<% if(event.performers && songId){ %>
	<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= songId %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
<% } else { %>
	<h3> Unable To Generate Song For This Performer <h3>
<% } %>
</footer>
